<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="ServerService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:30111/ServerService" binding="wsHttpBinding"
                bindingConfiguration="ServerService" contract="ServerService.IService"
                name="ServerService" />
        </client>
    </system.serviceModel>
</configuration>