<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <wsHttpBinding>
                <binding name="wsHttp" />
            </wsHttpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="M0_SVR.Service">
                <endpoint address="ServerService" binding="wsHttpBinding" bindingConfiguration="wsHttp"
                    name="ServerService" contract="M0_SVR.IService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:30111/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
    
</configuration>