<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="explicit_endpoint" />
                <binding name="wsHttp" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9420/endpoint" binding="wsHttpBinding"
                bindingConfiguration="explicit_endpoint" contract="CADService.CAD_Interface"
                name="explicit_endpoint">
                <identity>
                    <userPrincipalName value="DESKTOP-R654U1C\Kaddle" />
                </identity>
            </endpoint>
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="wsBehavior">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="wsBehavior" name="Middleware.AuthenticationService">
                <endpoint address="AuthService" binding="wsHttpBinding" bindingConfiguration="wsHttp"
                    name="Auth" contract="Middleware.IAuthenticationService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8081" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>